.oa-leftNavigation{ position: fixed;}
.logo{ float: left; width: 100%; padding: 20px 10px 0 10px; text-align: center;}
.oa-leftNavigation ul li a.active, .oa-leftNavigation ul li a:hover { box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24);}